### <span style=color:blue> Loading Listings & Reviews data from postgresql into local MongoDB    </span>

In [1]:
import sys
import json
import csv
import yaml

import importlib

import math

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

from datetime import time
from datetime import date
from datetime import datetime
# with the above choices, the imported datetime.time(2023,07,01) is recognized
# from datetime import date
# from datetime import datetime

import pprint

import psycopg2
from sqlalchemy import create_engine, text as sql_text

# Create an utilities file util.py in a folder benchmarking and import it
# NOTE: I moved my util.py to the directory "helper_functions" -- seems like a better name
sys.path.append('helper_functions/')
import util

In [2]:
# test that utils.py has been imported well
util.hello_world()

Hello World!

<span style=color:blue>Getting PostgreSQL connection set up</span>

In [3]:
# Load the env file 

dotenv_path = 'env_variables.env'
load_dotenv(dotenv_path=dotenv_path)

# Import the env variables

load_dotenv()

schema = os.getenv('DISC_6_SCHEMA')
port = os.getenv('DISC_6_PORT')
host = os.getenv('DISC_6_HOST')
database = os.getenv('DISC_6_DB')
password = os.getenv('DISC_6_PASSWORD')
connection = os.getenv('DISC_6_CONNECTION')

# Create the db engine 

db_eng = create_engine(f"postgresql+psycopg2://postgres:postgres@localhost:5432/airbnb",
                       connect_args={'options': '-csearch_path={}'.format('new_york_city')},
                       isolation_level = 'SERIALIZABLE')

print("Successfully created db engine.")

Successfully created db engine.

<span style=color:blue>Getting mongodb connection set up</span>

In [4]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
# could have written client = MongoClient("localhost", 27017)
#                 or client = MongoClient("mongodb://localhost:27017/")

<span style=color:blue>Setting up collection "listings" in mongodb</span>

In [5]:
# I have (or will have) a database "airbnb"
db = client.airbnb

# inside the "airbnb" database, I have (or will have) a collection "listings"
listings = db.listings
print(db.list_collection_names())
# I have some other collections in my airbnb database...

['listings_test', 'listings']

### <span style=color:blue>As preparation for the next steps, I have a created table reviewm in my PostgreSQL using DBeaver, in which I dropped the comments_tsv column (because not needed) and datetime, and also renamed column "id" to "review_id" (so that it is not repeating the "id" column of the listings table).</span>

#### <span style=color:blue>Note: in my listings table the datatype of the 'last_review' column is date.  If the datatype of 'last_review' in your listings table is varchar(), then run a query in DBeaver to convert all empty string values in your 'last_review' column to the value NULL.  Then the code below should work.<span>

<span style=color:blue>In the following I focus on the query q10, which fetches a left join based on all listing_ids with prefix '10'.  This is useful for doing testing.  For your assignment you should use the left join query that includes all listings.</span>

In [6]:
import importlib
import util
# using this in case I have added stuff to util.py
importlib.reload(util)

# some other queries I was experimenting with
# q = util.build_query_full_join_listings_reviewsm()
# q = util.build_query_left_join_listings_reviewsm_null_right()

q10 = util.build_query_left_join_listings_reviewsm_10()
q = util.build_query_left_join_listings_reviewsm()

print('We will be using the following queries, produced by functions I defined in util.py:\n')
print(q10)
print()
print(q)

We will be using the following queries, produced by functions I defined in util.py:

SELECT *
    FROM listings l
    LEFT JOIN reviewsm r
    ON l.id = r.listing_id
    WHERE LEFT(l.id, 2) = '10';

SELECT *
    FROM listings l
    LEFT JOIN reviewsm r
    ON l.id = r.listing_id;

In [7]:
with db_eng.connect() as conn:
    df_ljr = pd.read_sql(q, con=conn)

In [9]:
print(df_ljr.head())

                   id                                               name  \
0            52089998  Rental unit in Brooklyn · ★4.89 · 2 bedrooms ·...
1            35604447  Rental unit in New York · ★4.65 · 1 bedroom · ...
2             5663222  Townhouse in New York · ★4.78 · 1 bedroom · 1 ...
3  605592707196062589  Rental unit in Brooklyn · ★4.85 · 1 bedroom · ...
4            22076961  Rental unit in New York · ★4.52 · 2 bedrooms ·...

     host_id host_name neighbourhood_group  neighbourhood  latitude  \
0   52942822   Tanesha            Brooklyn       Bushwick  40.69281
1  267860635       Jey           Manhattan       Kips Bay  40.74167
2   29358602   Lillian           Manhattan         Harlem  40.80613
3  228590032   Karlyle            Brooklyn  Crown Heights  40.67618
4   23254491      Mory           Manhattan    East Harlem  40.78802

   longitude        room_type  price  ...  calculated_host_listings_count  \
0 -73.915270  Entire home/apt  135.0  ...                               1
1 -73.982155  Entire home/apt  156.0  ...                               1
2 -73.950330     Private room   89.0  ...                               5
3 -73.926640  Entire home/apt  157.0  ...                               3
4 -73.949540  Entire home/apt  101.0  ...                               1

   availability_365 number_of_reviews_ltm  license          listing_id  \
0               296                    17                     52089998
1                 0                    52   Exempt            35604447
2                 0                    34                      5663222
3               270                    37           605592707196062589
4                81                    44                     22076961

            review_id        date reviewer_id reviewer_name  \
0  742698363596796541  2022-10-21     5271515       Daniela
1  694867661998735975  2022-08-16   154889440        Amanda
2           353795895  2018-11-29    73387032         Laura
3  744224134338981206  2022-10-23   367659832        Briana
4           291287610  2018-07-15   157300562           Ron

                                            comments
0  Everything was perfect. The apt has everything...
1  Great little place in a wonderful location! Al...
2  Wonderful space in a classic Brownstone. I (De...
3  Honestly I loved it .. it wasn’t hard for me t...
4  Their place was perfect! Literally a 5-10 minu...

[5 rows x 24 columns]

In [10]:
print(df_ljr.shape)
# should be 998,310 rows in df_ljr.  This is
#     number of records in listings whose id do not show up in reviews['listing_id'] =  11,500
#   + number of reviews                                                              = 986,810

#print(df_ljr10.shape)
# you might want to check this number against what you expect based on what exploration
#    you do with DBeaver

(998310, 24)

### <span style=color:blue>The left outer join has between 0 and many records for each listing_id.  There is one record for each review about that listing.  We will now re-format this data into a list of dictionaries.  Each dictionary will have the data for one listing along with a list of all of the associated reviews. </span>

In [11]:
cols = df_ljr.columns.tolist()
print(cols)

['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license', 'listing_id', 'review_id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

<span style=color:blue>As a first step, we build a list of dictionaries with just the listing data.  To do this we use pandas to create a new dataframe with the reviews-related columns dropped</span>

In [12]:
# to do a projection and remove duplicates
cols_of_listings = ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 
                    'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 
                    'minimum_nights', 'number_of_reviews', 'last_review', 
                    'reviews_per_month', 'calculated_host_listings_count', 
                    'availability_365', 'number_of_reviews_ltm', 'license']
cols_of_reviews = ['listing_id', 'review_id', 'date', 'reviewer_id', 
                   'reviewer_name', 'comments']

df_ljr_new = df_ljr.drop(cols_of_reviews, axis=1).drop_duplicates()


print(df_ljr_new.head(10))

print(df_ljr_new.iloc[13870])

                   id                                               name  \
0            52089998  Rental unit in Brooklyn · ★4.89 · 2 bedrooms ·...
1            35604447  Rental unit in New York · ★4.65 · 1 bedroom · ...
2             5663222  Townhouse in New York · ★4.78 · 1 bedroom · 1 ...
3  605592707196062589  Rental unit in Brooklyn · ★4.85 · 1 bedroom · ...
4            22076961  Rental unit in New York · ★4.52 · 2 bedrooms ·...
5            49070045  Home in Brooklyn · ★4.85 · 1 bedroom · 1 bed ·...
6            33835992  Townhouse in Brooklyn · ★4.86 · 1 bedroom · 2 ...
7            21505197  Rental unit in Brooklyn · ★4.87 · 1 bedroom · ...
8             4550602  Townhouse in Brooklyn · ★4.65 · 1 bedroom · 2 ...
9            14968436  Rental unit in New York · ★4.49 · 1 bedroom · ...

     host_id host_name neighbourhood_group     neighbourhood  latitude  \
0   52942822   Tanesha            Brooklyn          Bushwick  40.69281
1  267860635       Jey           Manhattan          Kips Bay  40.74167
2   29358602   Lillian           Manhattan            Harlem  40.80613
3  228590032   Karlyle            Brooklyn     Crown Heights  40.67618
4   23254491      Mory           Manhattan       East Harlem  40.78802
5  250358007   Rebecca            Brooklyn       Sunset Park  40.64410
6   86769590   Lynette            Brooklyn     East New York  40.66044
7    3900540      Erin            Brooklyn  Brooklyn Heights  40.69978
8   23533897     Fatou            Brooklyn     Crown Heights  40.67451
9   16686968   Ricardo           Manhattan            Harlem  40.80872

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0 -73.915270  Entire home/apt  135.0              30                 71
1 -73.982155  Entire home/apt  156.0               2                170
2 -73.950330     Private room   89.0              30                375
3 -73.926640  Entire home/apt  157.0              30                 73
4 -73.949540  Entire home/apt  101.0              30                333
5 -74.000930     Private room    NaN              30                104
6 -73.899170  Entire home/apt   85.0              30                286
7 -73.994570  Entire home/apt  158.0              30                 90
8 -73.950820     Private room  171.0               1                 99
9 -73.941350     Private room  100.0              30                124

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2023-08-27               2.44                               1
1  2023-12-20               3.02                               1
2  2023-11-12               4.17                               5
3  2023-12-07               3.37                               3
4  2023-12-25               4.44                               1
5  2023-06-02               3.48                               3
6  2023-10-13               5.33                               1
7  2023-08-20               1.20                               1
8  2023-12-11               0.90                               9
9  2020-03-23               1.38                               1

   availability_365  number_of_reviews_ltm license
0               296                     17
1                 0                     52  Exempt
2                 0                     34
3               270                     37
4                81                     44
5                 0                     17
6               334                     42
7               299                     10
8               349                     14  Exempt
9               365                      0
id                                                                         34890712
name                              Home in Brooklyn · 1 bedroom · 1 bed · 2 share...
host_id                                                                   192890383
host_name                                                                      Evan
neighbourhood_group                                                        Brooklyn
neighbourhood                                                              Bushwick
latitude                                                                   40.69095
longitude                                                                 -73.91184
room_type                                                              Private room
price                                                                           NaN
minimum_nights                                                                   30
number_of_reviews                                                                 0
last_review                                                                    None
reviews_per_month                                                               NaN
calculated_host_listings_count                                                    1
availability_365                                                                  0
number_of_reviews_ltm                                                             0
license
Name: 519331, dtype: object

<span style=color:blue>Converting the dataframe into a list of dictionaries     </span>

In [13]:
dict_ljr_new = df_ljr_new.to_dict('records')
print(len(dict_ljr_new))
pprint.pp(dict_ljr_new[0])

39202
{'id': '52089998',
 'name': 'Rental unit in Brooklyn · ★4.89 · 2 bedrooms · 2 beds · 1 bath',
 'host_id': '52942822',
 'host_name': 'Tanesha',
 'neighbourhood_group': 'Brooklyn',
 'neighbourhood': 'Bushwick',
 'latitude': 40.69281,
 'longitude': -73.91527,
 'room_type': 'Entire home/apt',
 'price': 135.0,
 'minimum_nights': 30,
 'number_of_reviews': 71,
 'last_review': datetime.date(2023, 8, 27),
 'reviews_per_month': 2.44,
 'calculated_host_listings_count': 1,
 'availability_365': 296,
 'number_of_reviews_ltm': 17,
 'license': ''}

<span style=color:blue>Let's try loading what we have so far into MongoDB, into a temporary collection     </span>

In [15]:
# testing with a new, temporary collection
listings_test = db.listings_test

try:
    result = listings_test.insert_many(dict_ljr_new)
    print('\nLast element of result for the last run was:')
    print(result.inserted_ids[-1:])
except Exception as e:
    print('There was an error when loading the dictionary into MongoDB:')
    print(e)

There was an error when loading the dictionary into MongoDB:
cannot encode object: datetime.date(2023, 8, 27), of type: <class 'datetime.date'>

<span style=color:blue>MongoDB does not handle dates, only datetimes.  Here is a function to convert the dates into datetimes.  (An alternative would have been to convert the dates in our table reviewsm into datetimes.)

In [16]:
# This converts date to datetime.  It also converts various kinds of
#     null values into None, which loads into MongoDB without creating errors
def convert_date_to_datetime(dt):
    if pd.isnull(dt):           # tests whether dt is None, NaN, or DaT (not a date)
        return None
    elif type(dt) == pd._libs.tslibs.nattype.NaTType:  # including this, but see below
        return None
    else:
        temp = datetime(dt.year, dt.month, dt.day)
        ts = temp.timestamp()
        new_dt = datetime.fromtimestamp(ts)
        return new_dt

# testing various cases:
# Here are four dictionaries to test with
dict1 = {'foo':1, 'date': date(2023,1,2)}
dict2 = {'goo':2, 'date': math.nan}
dict3 = {'hoo':3, 'date': None}
dict4 = {'koo':4, 'date': pd.NaT}

if pd.isnull(dict3['date']):        # pd.isnull tests whether something is 
    print("dict4['date'] tested positive as NaT")    
else:
    print("dict4['date'] did not test positive as NaT")
    

print(dict1)
dict1['date'] = convert_date_to_datetime(dict1['date'])
print(dict1)

print()
print(dict2)
dict2['date'] = convert_date_to_datetime(dict2['date'])
print(dict2)

print()
print(dict3)
dict3['date'] = convert_date_to_datetime(dict3['date'])
print(dict3)

print()
print(dict4)
dict4['date'] = convert_date_to_datetime(dict4['date'])
print(dict4)

dict4['date'] tested positive as NaT
{'foo': 1, 'date': datetime.date(2023, 1, 2)}
{'foo': 1, 'date': datetime.datetime(2023, 1, 2, 0, 0)}

{'goo': 2, 'date': nan}
{'goo': 2, 'date': None}

{'hoo': 3, 'date': None}
{'hoo': 3, 'date': None}

{'koo': 4, 'date': NaT}
{'koo': 4, 'date': None}

<span style=color:blue>Use pandas to replace the dates in the "last_review" column with datetimes</span>

In [1]:
# trying to replace all dates by datetimes (or None)

# df_ljr10_new['last_review'] = df_ljr10_new['last_review'].apply(convert_date_to_datetime)

# could also have written
df_ljr_new['last_review'] = df_ljr_new['last_review'].apply(lambda x: convert_date_to_datetime(x))

NameError: name 'df_ljr_new' is not defined

In [18]:
print(df_ljr_new.head())

                   id                                               name  \
0            52089998  Rental unit in Brooklyn · ★4.89 · 2 bedrooms ·...
1            35604447  Rental unit in New York · ★4.65 · 1 bedroom · ...
2             5663222  Townhouse in New York · ★4.78 · 1 bedroom · 1 ...
3  605592707196062589  Rental unit in Brooklyn · ★4.85 · 1 bedroom · ...
4            22076961  Rental unit in New York · ★4.52 · 2 bedrooms ·...

     host_id host_name neighbourhood_group  neighbourhood  latitude  \
0   52942822   Tanesha            Brooklyn       Bushwick  40.69281
1  267860635       Jey           Manhattan       Kips Bay  40.74167
2   29358602   Lillian           Manhattan         Harlem  40.80613
3  228590032   Karlyle            Brooklyn  Crown Heights  40.67618
4   23254491      Mory           Manhattan    East Harlem  40.78802

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0 -73.915270  Entire home/apt  135.0              30                 71
1 -73.982155  Entire home/apt  156.0               2                170
2 -73.950330     Private room   89.0              30                375
3 -73.926640  Entire home/apt  157.0              30                 73
4 -73.949540  Entire home/apt  101.0              30                333

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2023-08-27               2.44                               1
1  2023-12-20               3.02                               1
2  2023-11-12               4.17                               5
3  2023-12-07               3.37                               3
4  2023-12-25               4.44                               1

   availability_365  number_of_reviews_ltm license
0               296                     17
1                 0                     52  Exempt
2                 0                     34
3               270                     37
4                81                     44

In [19]:
# As you can see in the result from the last cell,
#   somehow the NaT's are still there, in spite of the special case included in
#   the function convert_time_to_timestamp()
#   BTW, curiously, on very small dataframes the convert_time_to_timestamp() does convert NaT to None

# Happily, all of the actual dates have converted into datetimes, as illustrated by the following:
#    Using "iloc" because the index values in df_ljr10_new are not consecutive
print(type(df_ljr_new.iloc[0, 12]))  # 12 is position of 'last_review'
print(df_ljr_new.iloc[0,12])
print(type(df_ljr_new.iloc[1, 12]))  
print(df_ljr_new.iloc[1,12])
print(type(df_ljr_new.iloc[2, 12]))  
print(df_ljr_new.iloc[2,12])
print(type(df_ljr_new.iloc[3, 12]))  
print(df_ljr_new.iloc[3,12])

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-08-27 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-12-20 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-11-12 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-12-07 00:00:00

In [20]:
# recomputing dict_ljr10_new
dict_ljr_new = df_ljr_new.to_dict('records')
print(len(dict_ljr_new))
pprint.pp(dict_ljr_new[0:2])

39202
[{'id': '52089998',
  'name': 'Rental unit in Brooklyn · ★4.89 · 2 bedrooms · 2 beds · 1 bath',
  'host_id': '52942822',
  'host_name': 'Tanesha',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bushwick',
  'latitude': 40.69281,
  'longitude': -73.91527,
  'room_type': 'Entire home/apt',
  'price': 135.0,
  'minimum_nights': 30,
  'number_of_reviews': 71,
  'last_review': Timestamp('2023-08-27 00:00:00'),
  'reviews_per_month': 2.44,
  'calculated_host_listings_count': 1,
  'availability_365': 296,
  'number_of_reviews_ltm': 17,
  'license': ''},
 {'id': '35604447',
  'name': 'Rental unit in New York · ★4.65 · 1 bedroom · 1 bath',
  'host_id': '267860635',
  'host_name': 'Jey',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Kips Bay',
  'latitude': 40.74167,
  'longitude': -73.982155,
  'room_type': 'Entire home/apt',
  'price': 156.0,
  'minimum_nights': 2,
  'number_of_reviews': 170,
  'last_review': Timestamp('2023-12-20 00:00:00'),
  'reviews_per_month': 3.02,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 52,
  'license': 'Exempt'}]

In [21]:
# However, the load into MongoDB still fails, because of the NaT values
#    As noted above, the convert_time_to_timestamp did not convert the NaT values
try:
    result = listings_test.insert_many(dict_ljr_new)
    print('\nLast element of result for the last run was:')
    print(result.inserted_ids[-1:])
except Exception as e:
    print('\nThere was an error when loading the dictionary into MongoDB:')
    print(e)

There was an error when loading the dictionary into MongoDB:
NaTType does not support utcoffset

<span style=color:blue>OK, so let's convert the NaT's in the dictionary rather than in pandas  </span>

In [22]:
for doc in dict_ljr_new:
    if pd.isnull(doc['last_review']): 
        doc['last_review'] = None

pprint.pp(dict_ljr_new[0:10])

[{'id': '52089998',
  'name': 'Rental unit in Brooklyn · ★4.89 · 2 bedrooms · 2 beds · 1 bath',
  'host_id': '52942822',
  'host_name': 'Tanesha',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bushwick',
  'latitude': 40.69281,
  'longitude': -73.91527,
  'room_type': 'Entire home/apt',
  'price': 135.0,
  'minimum_nights': 30,
  'number_of_reviews': 71,
  'last_review': Timestamp('2023-08-27 00:00:00'),
  'reviews_per_month': 2.44,
  'calculated_host_listings_count': 1,
  'availability_365': 296,
  'number_of_reviews_ltm': 17,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a831')},
 {'id': '35604447',
  'name': 'Rental unit in New York · ★4.65 · 1 bedroom · 1 bath',
  'host_id': '267860635',
  'host_name': 'Jey',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Kips Bay',
  'latitude': 40.74167,
  'longitude': -73.982155,
  'room_type': 'Entire home/apt',
  'price': 156.0,
  'minimum_nights': 2,
  'number_of_reviews': 170,
  'last_review': Timestamp('2023-12-20 00:00:00'),
  'reviews_per_month': 3.02,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 52,
  'license': 'Exempt',
  '_id': ObjectId('665be120d9330ee76fa8a832')},
 {'id': '5663222',
  'name': 'Townhouse in New York · ★4.78 · 1 bedroom · 1 bed · 1 private bath',
  'host_id': '29358602',
  'host_name': 'Lillian',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Harlem',
  'latitude': 40.80613,
  'longitude': -73.95033,
  'room_type': 'Private room',
  'price': 89.0,
  'minimum_nights': 30,
  'number_of_reviews': 375,
  'last_review': Timestamp('2023-11-12 00:00:00'),
  'reviews_per_month': 4.17,
  'calculated_host_listings_count': 5,
  'availability_365': 0,
  'number_of_reviews_ltm': 34,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a833')},
 {'id': '605592707196062589',
  'name': 'Rental unit in Brooklyn · ★4.85 · 1 bedroom · 1 bed · 1 bath',
  'host_id': '228590032',
  'host_name': 'Karlyle',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Crown Heights',
  'latitude': 40.67618,
  'longitude': -73.92664,
  'room_type': 'Entire home/apt',
  'price': 157.0,
  'minimum_nights': 30,
  'number_of_reviews': 73,
  'last_review': Timestamp('2023-12-07 00:00:00'),
  'reviews_per_month': 3.37,
  'calculated_host_listings_count': 3,
  'availability_365': 270,
  'number_of_reviews_ltm': 37,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a834')},
 {'id': '22076961',
  'name': 'Rental unit in New York · ★4.52 · 2 bedrooms · 2 beds · 1 bath',
  'host_id': '23254491',
  'host_name': 'Mory',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'East Harlem',
  'latitude': 40.78802,
  'longitude': -73.94954,
  'room_type': 'Entire home/apt',
  'price': 101.0,
  'minimum_nights': 30,
  'number_of_reviews': 333,
  'last_review': Timestamp('2023-12-25 00:00:00'),
  'reviews_per_month': 4.44,
  'calculated_host_listings_count': 1,
  'availability_365': 81,
  'number_of_reviews_ltm': 44,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a835')},
 {'id': '49070045',
  'name': 'Home in Brooklyn · ★4.85 · 1 bedroom · 1 bed · 2 shared baths',
  'host_id': '250358007',
  'host_name': 'Rebecca',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Sunset Park',
  'latitude': 40.6441,
  'longitude': -74.00093,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 104,
  'last_review': Timestamp('2023-06-02 00:00:00'),
  'reviews_per_month': 3.48,
  'calculated_host_listings_count': 3,
  'availability_365': 0,
  'number_of_reviews_ltm': 17,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a836')},
 {'id': '33835992',
  'name': 'Townhouse in Brooklyn · ★4.86 · 1 bedroom · 2 beds · 1 bath',
  'host_id': '86769590',
  'host_name': 'Lynette',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'East New York',
  'latitude': 40.66044,
  'longitude': -73.89917,
  'room_type': 'Entire home/apt',
  'price': 85.0,
  'minimum_nights': 30,
  'number_of_reviews': 286,
  'last_review': Timestamp('2023-10-13 00:00:00'),
  'reviews_per_month': 5.33,
  'calculated_host_listings_count': 1,
  'availability_365': 334,
  'number_of_reviews_ltm': 42,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a837')},
 {'id': '21505197',
  'name': 'Rental unit in Brooklyn · ★4.87 · 1 bedroom · 2 beds · 1 bath',
  'host_id': '3900540',
  'host_name': 'Erin',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Brooklyn Heights',
  'latitude': 40.69978,
  'longitude': -73.99457,
  'room_type': 'Entire home/apt',
  'price': 158.0,
  'minimum_nights': 30,
  'number_of_reviews': 90,
  'last_review': Timestamp('2023-08-20 00:00:00'),
  'reviews_per_month': 1.2,
  'calculated_host_listings_count': 1,
  'availability_365': 299,
  'number_of_reviews_ltm': 10,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a838')},
 {'id': '4550602',
  'name': 'Townhouse in Brooklyn · ★4.65 · 1 bedroom · 2 beds · 1 private bath',
  'host_id': '23533897',
  'host_name': 'Fatou',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Crown Heights',
  'latitude': 40.67451,
  'longitude': -73.95082,
  'room_type': 'Private room',
  'price': 171.0,
  'minimum_nights': 1,
  'number_of_reviews': 99,
  'last_review': Timestamp('2023-12-11 00:00:00'),
  'reviews_per_month': 0.9,
  'calculated_host_listings_count': 9,
  'availability_365': 349,
  'number_of_reviews_ltm': 14,
  'license': 'Exempt',
  '_id': ObjectId('665be120d9330ee76fa8a839')},
 {'id': '14968436',
  'name': 'Rental unit in New York · ★4.49 · 1 bedroom · 1 bed · 1 shared bath',
  'host_id': '16686968',
  'host_name': 'Ricardo',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Harlem',
  'latitude': 40.80872,
  'longitude': -73.94135,
  'room_type': 'Private room',
  'price': 100.0,
  'minimum_nights': 30,
  'number_of_reviews': 124,
  'last_review': Timestamp('2020-03-23 00:00:00'),
  'reviews_per_month': 1.38,
  'calculated_host_listings_count': 1,
  'availability_365': 365,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa8a83a')}]

<span style=color:blue>Now trying the load again    </span>

In [23]:
try:
    result = listings_test.insert_many(dict_ljr_new)
    print('\nLast element of result for the last run was:')
    print(result.inserted_ids[-1:])
except Exception as e:
    print('\nThere was an error when loading the dictionary into MongoDB:')
    print(e)

Last element of result for the last run was:
[ObjectId('665be120d9330ee76fa94152')]

<span style=color:blue>Now we add, for each listing, a list of all reviews for that listing     </span>

In [26]:
i = 0

# We will keep track of the time to do each 1000 listings
time1 = datetime.now()


for d in dict_ljr_new:
    i += 1

    # building a df with just reviews info, and corresponding to the listing we are focusing on
    df_reviews_one_listing = df_ljr.loc[df_ljr['id'] == d['id']].drop(cols_of_listings, axis=1)

    # Note: This does not run super quickly.  As an alternative I tried pulling this 
    #    data with a query against PostgreSQL, but it was even slower

    # there are no null values in the 'date' column of reviews, so we can do the
    #    date to datetime conversion using pandas
    df_reviews_one_listing['date'] = df_reviews_one_listing['date'].apply(lambda x: convert_date_to_datetime(x))

    dicts_reviews_one_listing = df_reviews_one_listing.to_dict('records')

    # Need special handling for the case of no reviews 
    if len(dicts_reviews_one_listing) == 1 and dicts_reviews_one_listing[0]['review_id'] is None:
        d['reviews'] = {}
    else:
        d['reviews'] = dicts_reviews_one_listing

    if i % 1000 == 0:
        time2 = datetime.now()
        time_taken = util.time_diff(time1,time2)
        print('Have now completed step number:', str(i), 'and it took', str(time_taken), 'seconds' )
        time1 = datetime.now()

    # given the time it takes to do 1000 listings, how long will it take to do all of the listings?

print()
print(len(dict_ljr_new))
print()
pprint.pp(dict_ljr_new[-10:])

Have now completed step number: 1000 and it took 72.341569 seconds
Have now completed step number: 2000 and it took 72.226376 seconds
Have now completed step number: 3000 and it took 71.792387 seconds
Have now completed step number: 4000 and it took 72.466975 seconds
Have now completed step number: 5000 and it took 71.566486 seconds
Have now completed step number: 6000 and it took 71.233621 seconds
Have now completed step number: 7000 and it took 72.334794 seconds
Have now completed step number: 8000 and it took 71.959851 seconds
Have now completed step number: 9000 and it took 71.91382 seconds
Have now completed step number: 10000 and it took 72.051842 seconds
Have now completed step number: 11000 and it took 72.098719 seconds
Have now completed step number: 12000 and it took 72.283166 seconds
Have now completed step number: 13000 and it took 71.416145 seconds
Have now completed step number: 14000 and it took 71.865064 seconds
Have now completed step number: 15000 and it took 71.892404 seconds
Have now completed step number: 16000 and it took 71.282451 seconds
Have now completed step number: 17000 and it took 70.979336 seconds
Have now completed step number: 18000 and it took 71.562024 seconds
Have now completed step number: 19000 and it took 70.772562 seconds
Have now completed step number: 20000 and it took 72.861717 seconds
Have now completed step number: 21000 and it took 73.471518 seconds
Have now completed step number: 22000 and it took 72.301305 seconds
Have now completed step number: 23000 and it took 72.30191 seconds
Have now completed step number: 24000 and it took 72.412864 seconds
Have now completed step number: 25000 and it took 72.145223 seconds
Have now completed step number: 26000 and it took 72.671612 seconds
Have now completed step number: 27000 and it took 71.885376 seconds
Have now completed step number: 28000 and it took 71.938751 seconds
Have now completed step number: 29000 and it took 71.229458 seconds
Have now completed step number: 30000 and it took 71.678515 seconds
Have now completed step number: 31000 and it took 71.032698 seconds
Have now completed step number: 32000 and it took 71.109901 seconds
Have now completed step number: 33000 and it took 70.93852 seconds
Have now completed step number: 34000 and it took 71.467853 seconds
Have now completed step number: 35000 and it took 70.734493 seconds
Have now completed step number: 36000 and it took 70.841046 seconds
Have now completed step number: 37000 and it took 70.610021 seconds
Have now completed step number: 38000 and it took 70.85961 seconds
Have now completed step number: 39000 and it took 70.550244 seconds

39202

[{'id': '31794109',
  'name': 'Rental unit in New York · Studio · 1 bed · 1 bath',
  'host_id': '107434423',
  'host_name': 'Blueground',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Chelsea',
  'latitude': 40.75301,
  'longitude': -73.99593,
  'room_type': 'Entire home/apt',
  'price': 235.0,
  'minimum_nights': 31,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 827,
  'availability_365': 345,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa94149'),
  'reviews': {}},
 {'id': '1004175823930432876',
  'name': 'Rental unit in Queens · 4 bedrooms · 1 bed · 0 shared baths',
  'host_id': '305240193',
  'host_name': 'June',
  'neighbourhood_group': 'Queens',
  'neighbourhood': 'Astoria',
  'latitude': 40.76726,
  'longitude': -73.91373,
  'room_type': 'Private room',
  'price': 61.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 333,
  'availability_365': 311,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa9414a'),
  'reviews': {}},
 {'id': '1013126854297515145',
  'name': 'Rental unit in New York · 1 bedroom · 1 bed · 1 shared bath',
  'host_id': '536707225',
  'host_name': 'Carmen',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Gramercy',
  'latitude': 40.73763,
  'longitude': -73.98369,
  'room_type': 'Private room',
  'price': 106.0,
  'minimum_nights': 3,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 208,
  'number_of_reviews_ltm': 0,
  'license': 'Exempt',
  '_id': ObjectId('665be120d9330ee76fa9414b'),
  'reviews': {}},
 {'id': '954583134314301386',
  'name': 'Home in Queens · ★New · 8 bedrooms · 8 beds · 4 baths',
  'host_id': '530960752',
  'host_name': 'Marie',
  'neighbourhood_group': 'Queens',
  'neighbourhood': 'Cambria Heights',
  'latitude': 40.695374,
  'longitude': -73.73751,
  'room_type': 'Entire home/apt',
  'price': 400.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 269,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa9414c'),
  'reviews': {}},
 {'id': '44463986',
  'name': 'Rental unit in Brooklyn · Studio · 2 beds · 1 bath',
  'host_id': '154506785',
  'host_name': 'Dan',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Williamsburg',
  'latitude': 40.71874,
  'longitude': -73.95965,
  'room_type': 'Entire home/apt',
  'price': 275.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 3,
  'availability_365': 157,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa9414d'),
  'reviews': {}},
 {'id': '11098018',
  'name': 'Rental unit in New York · 1 bedroom · 1 bed · 1 bath',
  'host_id': '10199059',
  'host_name': 'Manasvi',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bushwick',
  'latitude': 40.69712,
  'longitude': -73.93055,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa9414e'),
  'reviews': {}},
 {'id': '17601315',
  'name': 'Rental unit in New York · 2 bedrooms · 2 beds · 1 bath',
  'host_id': '975819',
  'host_name': 'Chendi',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Nolita',
  'latitude': 40.7214,
  'longitude': -73.99616,
  'room_type': 'Entire home/apt',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa9414f'),
  'reviews': {}},
 {'id': '639664591087069915',
  'name': 'Rental unit in Bronx · 1 bedroom · 1 bed · 1 bath',
  'host_id': '74103802',
  'host_name': 'Carl',
  'neighbourhood_group': 'Bronx',
  'neighbourhood': 'Morris Park',
  'latitude': 40.85054,
  'longitude': -73.86482,
  'room_type': 'Entire home/apt',
  'price': 125.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa94150'),
  'reviews': {}},
 {'id': '869434362358340890',
  'name': 'Rental unit in Brooklyn · 1 bedroom · 1 bed · 1 private bath',
  'host_id': '124028462',
  'host_name': 'Outpost Club',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bedford-Stuyvesant',
  'latitude': 40.689587,
  'longitude': -73.93745,
  'room_type': 'Private room',
  'price': 43.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 12,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa94151'),
  'reviews': {}},
 {'id': '762393507139462217',
  'name': 'Hotel in New York · 1 bedroom · 2 beds · 1 private bath',
  'host_id': '202829797',
  'host_name': 'Crystal',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Murray Hill',
  'latitude': 40.749428,
  'longitude': -73.97196,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 3,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  '_id': ObjectId('665be120d9330ee76fa94152'),
  'reviews': {}}]

<span style=color:blue>Sanity check, that we did not lose any listings </span>

In [27]:
print(len(dict_ljr_new))

39202

<span style=color:blue>Now loading dict_ljr10_new into mongodb.   </span>

<span style=color:blue>The loading is done 100 documents at a time, with a last small lot </span>

In [28]:
print(len(dict_ljr_new) % 100)
print(len(dict_ljr_new))

2
39202

In [29]:
# CAUTION: the first step here erases db.listing
#    I have kept this here during testing
db.listings.drop()


listings = db.listings

time0 = datetime.now()
time1 = datetime.now()

for i in range(0,33):
# for i in range(0,10):
    result = listings.insert_many(dict_ljr_new[100*i:100*(i+1)])

    time2 = datetime.now()
    time_taken = util.time_diff(time1,time2)
    print('Have now completed step number:', str(i), 'and it took', str(time_taken), 'seconds' )
    time1 = datetime.now()
    
time3 = datetime.now()


print('\nThe last ObjectID in the collection is:')
print(result.inserted_ids[-1:])

# print('\nThe time to do the load of 39K documents into local mongodb, with a total of about 300MB was:')
print('\nThe time for this run was:')
print(util.time_diff(time0,time3))



# this is for the last 13 records in dict_ljr10_new, but built for arbitrary number of records
result = listings.insert_many(dict_ljr_new[3300:])


print('\nThe total number of documents in the collection db.listings is now:')
print(listings.count_documents({}))

print('\nLast few ObjectIds of result for the last run was:')
print(result.inserted_ids[-5:])

print('\nThe last few documents of result for the last run was:')
# Curiously, the next line fetches only the object ids, not the full documents
# out = listings.find({'_id' : {'$in' : result.inserted_ids[-5:]} } )
# pprint.pp(out)
outdocs = []
for o in result.inserted_ids[-5:]:
    outdocs.append(listings.find_one({ '_id': o}))
pprint.pp(outdocs)

Have now completed step number: 0 and it took 0.205598 seconds
Have now completed step number: 1 and it took 0.090396 seconds
Have now completed step number: 2 and it took 0.073723 seconds
Have now completed step number: 3 and it took 0.075617 seconds
Have now completed step number: 4 and it took 0.066786 seconds
Have now completed step number: 5 and it took 0.04365 seconds
Have now completed step number: 6 and it took 0.055781 seconds
Have now completed step number: 7 and it took 0.054441 seconds
Have now completed step number: 8 and it took 0.052539 seconds
Have now completed step number: 9 and it took 0.037235 seconds
Have now completed step number: 10 and it took 0.039464 seconds
Have now completed step number: 11 and it took 0.056848 seconds
Have now completed step number: 12 and it took 0.036996 seconds
Have now completed step number: 13 and it took 0.040797 seconds
Have now completed step number: 14 and it took 0.037301 seconds
Have now completed step number: 15 and it took 0.02958 seconds
Have now completed step number: 16 and it took 0.04215 seconds
Have now completed step number: 17 and it took 0.049457 seconds
Have now completed step number: 18 and it took 0.031056 seconds
Have now completed step number: 19 and it took 0.039993 seconds
Have now completed step number: 20 and it took 0.032036 seconds
Have now completed step number: 21 and it took 0.033473 seconds
Have now completed step number: 22 and it took 0.02525 seconds
Have now completed step number: 23 and it took 0.030966 seconds
Have now completed step number: 24 and it took 0.021138 seconds
Have now completed step number: 25 and it took 0.01898 seconds
Have now completed step number: 26 and it took 0.032305 seconds
Have now completed step number: 27 and it took 0.032374 seconds
Have now completed step number: 28 and it took 0.021893 seconds
Have now completed step number: 29 and it took 0.022064 seconds
Have now completed step number: 30 and it took 0.021721 seconds
Have now completed step number: 31 and it took 0.022516 seconds
Have now completed step number: 32 and it took 0.031893 seconds

The last ObjectID in the collection is:
[ObjectId('665be120d9330ee76fa8b514')]

The time for this run was:
1.506888

The total number of documents in the collection db.listings is now:
39202

Last few ObjectIds of result for the last run was:
[ObjectId('665be120d9330ee76fa9414e'), ObjectId('665be120d9330ee76fa9414f'), ObjectId('665be120d9330ee76fa94150'), ObjectId('665be120d9330ee76fa94151'), ObjectId('665be120d9330ee76fa94152')]

The last few documents of result for the last run was:
[{'_id': ObjectId('665be120d9330ee76fa9414e'),
  'id': '11098018',
  'name': 'Rental unit in New York · 1 bedroom · 1 bed · 1 bath',
  'host_id': '10199059',
  'host_name': 'Manasvi',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bushwick',
  'latitude': 40.69712,
  'longitude': -73.93055,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 0,
  'license': '',
  'reviews': {}},
 {'_id': ObjectId('665be120d9330ee76fa9414f'),
  'id': '17601315',
  'name': 'Rental unit in New York · 2 bedrooms · 2 beds · 1 bath',
  'host_id': '975819',
  'host_name': 'Chendi',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Nolita',
  'latitude': 40.7214,
  'longitude': -73.99616,
  'room_type': 'Entire home/apt',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 0,
  'number_of_reviews_ltm': 0,
  'license': '',
  'reviews': {}},
 {'_id': ObjectId('665be120d9330ee76fa94150'),
  'id': '639664591087069915',
  'name': 'Rental unit in Bronx · 1 bedroom · 1 bed · 1 bath',
  'host_id': '74103802',
  'host_name': 'Carl',
  'neighbourhood_group': 'Bronx',
  'neighbourhood': 'Morris Park',
  'latitude': 40.85054,
  'longitude': -73.86482,
  'room_type': 'Entire home/apt',
  'price': 125.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 1,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  'reviews': {}},
 {'_id': ObjectId('665be120d9330ee76fa94151'),
  'id': '869434362358340890',
  'name': 'Rental unit in Brooklyn · 1 bedroom · 1 bed · 1 private bath',
  'host_id': '124028462',
  'host_name': 'Outpost Club',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bedford-Stuyvesant',
  'latitude': 40.689587,
  'longitude': -73.93745,
  'room_type': 'Private room',
  'price': 43.0,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 12,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  'reviews': {}},
 {'_id': ObjectId('665be120d9330ee76fa94152'),
  'id': '762393507139462217',
  'name': 'Hotel in New York · 1 bedroom · 2 beds · 1 private bath',
  'host_id': '202829797',
  'host_name': 'Crystal',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Murray Hill',
  'latitude': 40.749428,
  'longitude': -73.97196,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 30,
  'number_of_reviews': 0,
  'last_review': None,
  'reviews_per_month': nan,
  'calculated_host_listings_count': 3,
  'availability_365': 364,
  'number_of_reviews_ltm': 0,
  'license': '',
  'reviews': {}}]

<span style=color:blue>Here is a query testing against the 'last_review' values    </span>

In [30]:
cursor = listings.find( { 'last_review' : { '$lte' : datetime(2024,1,1,0,0,0,0)}})
l = list(cursor)
print(len(l))
# pprint.pp(l)

24534

In [33]:
query1= {'last_review': {
        '$gte': datetime(2021, 2, 1),
        '$lte': datetime(2023, 3, 15)
    }}
    
    
query1_output = listings.count_documents(query1)

print(query1_output)

3685

In [38]:
pipeline = [
    {
        '$match': {
            '$expr': {
                '$and': [
                    {'$isArray': '$reviews'},
                    {'$gte': [{'$size': '$reviews'}, 50]}
                ]
            }
        }
    }
]


query2 = listings.aggregate(pipeline)
print(sum(1 for _ in query2))

5658

In [39]:
query3 = {
    '$or': [
        {'reviews.comments': {'$regex': 'awesome'}},
        {'reviews.comments': {'$regex': 'amazing'}}
    ]
}

print(listings.count_documents(query3))

15890

In [40]:
query4 = {
    '$or': [
        {'reviews.comments': {'$regex': 'awesome', '$options': 'i'}},
        {'reviews.comments': {'$regex': 'amazing', '$options': 'i'}}
    ]
}

print(listings.count_documents(query4))

17121